## Preprocessing

In [29]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np
from tensorflow import convert_to_tensor

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_value = application_df.nunique()
unique_value

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500

application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_countS = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
classification_counts_greater_than_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [16]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:",  y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 49)
X_test shape: (6860, 49)
y_train shape: (27439,)
y_test shape: (6860,)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=X.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6461 (25.24 KB)
Trainable params: 6461 (25.24 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [30]:
# Train the model
X_train_tensor = convert_to_tensor(X_train, dtype=tf.float32)
y_train_tensor = convert_to_tensor(y_train, dtype=tf.float32)
history = nn.fit(X_train_tensor, y_train_tensor, epochs=50, batch_size=64)

Epoch 1/50
429/429 [==============================] - 1s 1ms/step - loss: 62668.9141 - accuracy: 0.4896
Epoch 2/50
429/429 [==============================] - 0s 1ms/step - loss: 47743.7578 - accuracy: 0.4822
Epoch 3/50
429/429 [==============================] - 0s 1ms/step - loss: 43733.3203 - accuracy: 0.5040
Epoch 4/50
429/429 [==============================] - 0s 1ms/step - loss: 28255.4629 - accuracy: 0.5006
Epoch 5/50
429/429 [==============================] - 0s 1ms/step - loss: 11597.5596 - accuracy: 0.4980
Epoch 6/50
429/429 [==============================] - 0s 1ms/step - loss: 34437.6133 - accuracy: 0.4975
Epoch 7/50
429/429 [==============================] - 0s 1ms/step - loss: 3771.2363 - accuracy: 0.5059
Epoch 8/50
429/429 [==============================] - 0s 1ms/step - loss: 47597.1445 - accuracy: 0.4874
Epoch 9/50
429/429 [==============================] - 0s 1ms/step - loss: 5181.6938 - accuracy: 0.5140
Epoch 10/50
429/429 [==============================] - 0s 1ms/step - loss: 47807.8750 - accuracy: 0.4986
Epoch 11/50
429/429 [==============================] - 0s 1ms/step - loss: 4180.4429 - accuracy: 0.5032
Epoch 12/50
429/429 [==============================] - 0s 1ms/step - loss: 6581.3804 - accuracy: 0.5071
Epoch 13/50
429/429 [==============================] - 0s 1ms/step - loss: 10257.0479 - accuracy: 0.4966
Epoch 14/50
429/429 [==============================] - 1s 1ms/step - loss: 2586.4292 - accuracy: 0.5188
Epoch 15/50
429/429 [==============================] - 1s 1ms/step - loss: 7530.5195 - accuracy: 0.4919
Epoch 16/50
429/429 [==============================] - 1s 1ms/step - loss: 23766.8086 - accuracy: 0.5161
Epoch 17/50
429/429 [==============================] - 1s 2ms/step - loss: 7920.3813 - accuracy: 0.4971
Epoch 18/50
429/429 [==============================] - 0s 1ms/step - loss: 4904.7310 - accuracy: 0.4942
Epoch 19/50
429/429 [==============================] - 1s 1ms/step - loss: 10643.6582 - accuracy: 0.4861
Epoch 20/50
429/429 [==============================] - 0s 1ms/step - loss: 7763.0117 - accuracy: 0.5097
Epoch 21/50
429/429 [==============================] - 0s 1ms/step - loss: 5571.7661 - accuracy: 0.4901
Epoch 22/50
429/429 [==============================] - 0s 1ms/step - loss: 9149.5420 - accuracy: 0.5233
Epoch 23/50
429/429 [==============================] - 0s 1ms/step - loss: 3872.5339 - accuracy: 0.5058
Epoch 24/50
429/429 [==============================] - 0s 1ms/step - loss: 4345.3813 - accuracy: 0.5005
Epoch 25/50
429/429 [==============================] - 1s 1ms/step - loss: 2401.3567 - accuracy: 0.5210
Epoch 26/50
429/429 [==============================] - 0s 1ms/step - loss: 4490.1489 - accuracy: 0.4943
Epoch 27/50
429/429 [==============================] - 1s 1ms/step - loss: 377.1592 - accuracy: 0.5149
Epoch 28/50
429/429 [==============================] - 0s 1ms/step - loss: 777.8840 - accuracy: 0.4972
Epoch 29/50
429/429 [==============================] - 0s 1ms/step - loss: 630.9590 - accuracy: 0.5154
Epoch 30/50
429/429 [==============================] - 1s 1ms/step - loss: 542.6407 - accuracy: 0.5005
Epoch 31/50
429/429 [==============================] - 0s 1ms/step - loss: 530.7902 - accuracy: 0.4952
Epoch 32/50
429/429 [==============================] - 1s 1ms/step - loss: 420.1996 - accuracy: 0.5456
Epoch 33/50
429/429 [==============================] - 1s 1ms/step - loss: 1171.0139 - accuracy: 0.4958
Epoch 34/50
429/429 [==============================] - 0s 1ms/step - loss: 121.4323 - accuracy: 0.5207
Epoch 35/50
429/429 [==============================] - 1s 1ms/step - loss: 110.1350 - accuracy: 0.5303
Epoch 36/50
429/429 [==============================] - 0s 1ms/step - loss: 34.2500 - accuracy: 0.5263
Epoch 37/50
429/429 [==============================] - 1s 1ms/step - loss: 13.2401 - accuracy: 0.5323
Epoch 38/50
429/429 [==============================] - 0s 1ms/step - loss: 0.9506 - accuracy: 0.5309
Epoch 39/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6885 - accuracy: 0.5320
Epoch 40/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6869 - accuracy: 0.5320
Epoch 41/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6858 - accuracy: 0.5320
Epoch 42/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6844 - accuracy: 0.5320
Epoch 43/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6815 - accuracy: 0.5379
Epoch 44/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6766 - accuracy: 0.5869
Epoch 45/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6644 - accuracy: 0.6585
Epoch 46/50
429/429 [==============================] - 1s 2ms/step - loss: 0.6398 - accuracy: 0.6816
Epoch 47/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6214 - accuracy: 0.6693
Epoch 48/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6153 - accuracy: 0.6720
Epoch 49/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6117 - accuracy: 0.6758
Epoch 50/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6092 - accuracy: 0.6768

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.9685 - accuracy: 0.5461 - 282ms/epoch - 1ms/step
Loss: 0.9684731364250183, Accuracy: 0.5460641384124756

In [33]:
# Export our model to HDF5 file
#specify file path
model_filename = "AlphabetSoupCharity.h5"

#save
nn.save(model_filename)

#confirm
print(f"Model saved to {model_filename}")

Model saved to AlphabetSoupCharity.h5

C:\Users\zombi\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(